*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/273064-P630LL-416.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:  monospace;
    font-size: 1.4rem;
    line-height: 20px;
}